/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body{
    background-color: lightcoral;
    font-family: Arial, sans-serif;
}

/*Utilities*/
.push-button{
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
}
.checkmark{
    display: inline-block;
    line-height: 1;
    text-align: center;
    font-size: small;
    height: 16px;
    width: 16px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;    
}
.label{
    font-size: 0.7rem;
    padding: 5px;
    border-radius: 25px;
    color: white;
    text-align: center;
    line-height: 1;
}
/*Header*/
header{
    background-color: white;
    padding: 10px;
    
}
img{
    vertical-align: middle;
}
h1{
    display: inline;    
    font-weight: 900;
    font-size: 2.5rem;
    vertical-align: middle
}

/*creo i pulsanti*/
.conteiner-button{
    max-width: 920px;
    background-color: white;
    margin: 20px auto 1px auto;
    padding: 10px 30px;
    border-radius: 5px 5px 0 0;
}
button{    
    border: none;
    background-color: blue;
    color: white;
}
a{
    border: 1px solid gray;
    text-decoration: none;
    color: gray;
}

/*Main*/
.conteiner-main{
    max-width: 920px;
    background-color: white;
    margin: 1px auto 20px auto;
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 10px;
    border-radius: 0 0 5px 5px;
}
/*creo la lista*/
.new-task{
    margin-top: 20px;
}
ul{
    list-style-type:none;
    list-style-position: inside;
}
li{
    margin-top: 15px;
}
.checkmark.verified{
    color: green;
    border-color: green;
}

.checkmark.crossed{
    color: red;
    border-color: red;
}
/*creo le etichette*/
.label.editorial{
    background-color: crimson;
}
.label.q1goals{
    background-color: violet;
}
.label.recruiting{
    background-color: orange;
}
.label.mobile{
    background-color: gray;
}
.label.website{
    background-color: burlywood;
}
.label.sales{
    background-color: blueviolet;
}
.label.editorialspecial{
    background-color: gold;
}